# Groupby

This chapter will focus on `groupby、aggregate、apply、transform、(q)cut `

* `check exsiting grouped`

```python
grouped.groups
```

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pprint import pprint

## 1.1  通过list进行分组、多层分组

In [4]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.720499 -0.114798
1    a  two -1.551660  0.006069
2    b  one  0.998684 -0.541177
3    b  two -1.021304  0.394019
4    a  one -0.085222 -0.000095

In [5]:
grouped = df['data1'].groupby(df['key1'])
print(grouped)
grouped.mean()

<pandas.core.groupby.generic.SeriesGroupBy object at 0x128a64350>

key1
a   -0.785794
b   -0.011310
Name: data1, dtype: float64

In [7]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean() 
print(means)
print('-'*20)
print(means.unstack())

key1  key2
a     one    -0.402860
      two    -1.551660
b     one     0.998684
      two    -1.021304
Name: data1, dtype: float64
--------------------
key2       one       two
key1
a    -0.402860 -1.551660
b     0.998684 -1.021304